!!!
%html
  %head
    %title #{@title} | #{settings.app_name}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{href: "css/bootstrap.min.css", rel: "stylesheet", media: "screen"}
    %link{href: "/css/app.css", rel: "stylesheet"}

    / [if lt IE 9]
      %script{src: "/js/html5shiv.js"}
      %script{src: "/js/respond.min.js"}


%body

  / Begin page content
  .container
    .page-body
      = yield
  / End page content
   
   
  / Begin page footer
  .footer
    .container
  / Eng page footer
